html, body {
  margin: 0;
  padding: 0;
  background-color: lavender;
}

.searchbar-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.searchbar {
  width: 50%;
  height: 2rem;
  font-size: 1.2rem;
}
.result-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
.result {
  width: 100%;
  max-width: 1024px;
  background-color: white;
  border-color: purple;
  border-width: 2px;
  border-style: solid;
  padding: 1rem;
}
.link-title {
}
.link {
  font-size: 0.75rem;
}
